/* 헤더 */

.header {
  z-index: 10;
  background-color: #f6f5ef;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 120px;
}
.header .inner {
  display: flex;
  align-items: center;
}
.header__logo {
  float: left;
}
.header__logo img {
  width: 75px;
  height: 75px;
  /* width: 100%;
  height: 100%; */
}
.section .inner {
}
.flex-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

/* 내비게이션 */

.nav {
  order: 2;
}
.nav__menu {
  /* margin-top: 20px; */
  margin-right: 50px;
}
.nav__menu li {
  display: inline-block;
}
.nav__menuItem > a {
  display: block;
  padding: 10px 20px 30px 20px;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
}
.nav__menuItem > a:hover {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}
.unList__userLink {
  font-size: 0;
}
.unList__userLink li {
  display: inline-block;
  border-right: 1px solid #ccc;
}
.unList__userLink li:last-child {
  border-right: none;
}
.unList__userLink a {
  font-size: 1.2rem;
  padding: 5px 16px;
}
.unList__userLink a:hover {
  text-decoration: underline;
}
.form {
  margin: 10px 40px 0 5px;
  position: relative;
}
.form input {
  display: none;
  position: absolute;
  top: 1px;
  left: 0;
  width: 32px;
  height: 34px;
  padding: 5px 10px 5px 5px;
  border: 0;
  border-radius: 5px;
}
/*추후 js로 버튼 컨트롤 추가 예정*/
.form [type="search"].isSearch {
  display: block;
  z-index: 1;
  width: calc(100% - 32px);
}
/* IR기법 해결 - padding trick */
.form__btnSearch {
  padding: 0;
  border: 0;
  width: 32px;
  height: 34px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding-top: 34px;
  margin-right: 60px;
  background: #fff url("../starbuximg/icon_magnifier_black.png") no-repeat
    center;
}
.form__btnSearch:focus,
.form__btnSearch:hover {
  background-position: right;
  animation: anime 500ms both;
}
@keyframes anime {
  0% {
    width: 32px;
  }
  100% {
    width: 180px;
  }
}

/* 슬로건 */

.slogan {
  /* background-color: #70C4D9; */
  height: 650px;
  background-color: #70c4d9;
  background-image: url(../starbuximg/summer3_mv_bg.png);
  width: 100%;
  background-repeat: no-repeat;
}
.slogan__div {
  display: flex;
}
.slogan .inner {
  margin: 0 auto;
  position: relative;
  /* width: 1100px; */
}
.slogan__img {
  /* background-color: blue; */
  padding-top: 50px;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 1.5s both;
}
.slogan__link {
  margin: 0;
  padding: 0;
  display: block;
  width: 123px;
  height: 40px;
  text-align: center;
  margin-top: 40px;
  font-size: 1.4rem;
  font-weight: 400;
  border: 2px #fff solid;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px;
  transition: 500ms;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 2s both;
}
.slogan__link:hover {
  background-color: #00a252;
  text-decoration: underline;
}
.slogan__figure1 {
  position: absolute;
  top: 240px;
  left: 35%;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 0.5s both;
}
.slogan__figure2 {
  position: absolute;
  top: 80px;
  left: 55%;
  opacity: 0;
  animation: sloganAni 1s ease-in-out both;
}
.slogan__figure3 {
  position: absolute;
  top: 200px;
  left: 65%;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 1s both;
}
.slogan__figure1 img {
  /* width: 290px; */
  width: 100%;
  max-width: 290px;
}
.slogan__figure2 img {
  /* width: 180px; */
  width: 100%;
  max-width: 180px;
}
.slogan__figure3 img {
  /* width: 320px; */
  width: 100%;
  max-width: 320px;
}
.slogan figcaption {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
}
.slogan__figcaption1 {
  position: absolute;
  top: 220px;
  left: -170px;
}
.slogan__figcaption2 {
  position: absolute;
  top: 20px;
  left: -230px;
}
.slogan__figcaption3 {
  position: absolute;
  top: 360px;
  left: 80px;
}
.slogan figcaption span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
}
.slogan span:nth-child(1)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  margin: 5px 0;
}
.slogan__figcaption2 span:nth-child(1)::after {
  border: none;
}
figcaption div {
  text-align: center;
  text-transform: uppercase;
}
figcaption div::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  margin: 0;
  margin: 10px 0;
}
@keyframes sloganAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 공지 사항 */

.notice {
  height: 60px;
  text-align: center;
  background-color: #111;
  color: #fff;
  padding: 15px 0;
}
.notice__heading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 100px;
}
.notice__list {
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
  height: 20px;
  padding: 5px 0 10px;
  overflow: hidden;
  margin-right: 40px;
}
.notice__list li {
  animation: listanime 5s linear infinite alternate;
  margin-bottom: 10px;
}
.notice__list a {
  display: block;
  padding: 5px 400px 0 0;
}
.notice__list a:hover {
  text-decoration: underline;
}
.notice__link {
  vertical-align: middle;
  font-size: 3rem;
  font-weight: 400;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 0.8;
}
/* Notice Animation */
@keyframes listanime {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-510%);
  }
}

/* 리워드 */

.memberService {
  /* height: auto; */
  height: 260px;
  /* background-color: #272727; */
  padding: 20px 50px;
  padding-right: 0;
  background-image: url(../starbuximg/reward_star_bg_m.png),
    url(../starbuximg/272727.png), url(../starbuximg/reward_texbg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 20% 100%, 20% 100%, 80% 100%;
  background-position: left 250px top 0px, left 0 top 0px, right 0px top 0px;
  padding-left: 240px;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}
.memberService .inner {
  margin-left: 100px;
  display: flex;
  flex-flow: column;
  position: relative;
}
.memberService__heading {
  font-size: 2rem;
  font-weight: 400;
  padding-left: 25px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.memberService__heading em {
  font-weight: 700;
}
.memberService__logDes {
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 25px;
  margin-bottom: 20px;
  color: #666;
  /* width: 530px; */
  display: flex;
  flex-flow: row nowrap;
  line-height: 1.4;
  word-spacing: 1px;
  /* padding-right: 450px; */
  /* padding-right: 240px; */
}
.memberService__logDes p em {
  display: inline-block;
}
.memberService__logDes p {
  flex-grow: 1;
}
.memberService__logDes em {
  font-weight: 700;
  color: #555;
}
/* 클래스명 변경 */
.memberService__signGroup {
  position: absolute;
  top: 35px;
  right: 50px;
}
.memberService__logDes-signUp {
  display: inline-block;
  padding: 8px 30px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  transition: all 500ms linear;
  margin-top: 10px;
  margin-right: 5px;
}
.memberService__logDes-signIn {
  display: inline-block;
  padding: 8px 35px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  border-radius: 3px;
  transition: all 500ms linear;
  /* margin-top: 10px; */
  /* margin-right: 5px; */
}
.memberService__logDes-signUp:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #000;
}
.memberService__logDes-signIn:hover {
  text-decoration: underline;
  background-color: #000;
  color: #fff;
}
.memberService__giftDes {
  padding-left: 25px;
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
  color: #666;
  /* padding-right: 520px; */
  position: relative;
}
/* .memberService__logDes p em {
  display: inline-block;
} */
.memberService__giftDes em {
  font-weight: 700;
  display: block;
  color: #555;
}
/* 클래스명 추가 */
.memberService__giftLink {
  position: absolute;
  top: 0;
  right: 50px;
  padding: 8px 50px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  border-radius: 3px;
  transition: all 500ms linear;
  /* margin-top: 10px; */
  /* margin-right: 5px; */
  transition: all 500ms linear;
}
.memberService__giftLink:hover {
  text-decoration: underline;
  background-color: #000;
  color: #fff;
}
.memberService__logo {
  order: -1;
  width: 200px;
  height: 50px;
  align-self: center;
}
.memberService__logDes span,
.memberService__giftDes span {
  display: block;
}

/* 광고 */

.ad {
  height: 570px;
  background-image: url(../starbuximg/20_summer_rwanda_bg.jpg);
  background-size: cover;
  background-color: #dbebf8;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.ad__figure {
}
.ad__figure img {
  float: left;
  padding-left: 150px;
  padding-top: 75px;
  animation: adanime1 2s;
  padding-bottom: 55px;
}
.ad__figcaption {
  float: left;
  padding-left: 115px;
  padding-top: 170px;
  line-height: 1.5;
  animation: adanime 2s;
  /* margin-left: 90px; */
}
.ad__figcaption-selling {
  font-size: 2rem;
  color: #bae1c6;
  /* margin-left: 390px; */
  /* display: inline-block; */
}
.ad__figcaption-selling span {
  font-size: 3rem;
  display: block;
  font-weight: 700;
}
.ad__figcaption-sellingDes {
  color: #fff;
  font-size: 1.7rem;
  padding-top: 15px;
  opacity: 0.8;
  /* margin-left: 390px; */
  /* display: inline-block; */
}
.ad__figcaption-sellingDes span {
  display: block;
}
.ad__link {
  font-size: 1.5rem;
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  transition: all 500ms linear;
  margin-top: 45px;
}
.ad__link:hover {
  color: #000;
  background-color: #fff;
  text-decoration: underline;
}
@keyframes adanime {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes adanime1 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* 새소식 */

.news {
  height: 400px;
  background-repeat: no-repeat;
  background-color: #c3ded9;
  background-position: 600px 60px;
  background-size: 1000px;
  background-attachment: scroll;
  animation: newsanime 2s forwards;
}
.news__heading {
  padding-top: 80px;
  margin-left: -130px;
}
.news a {
  display: flex;
  padding: 10px 15px;
  border: 2px solid #000;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 1s;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}
.news a:hover {
  background: #000;
  text-decoration: underline;
  color: #eee;
}
.news__list {
  list-style: square;
  color: #5b6567;
  margin-top: 20px;
  margin-left: 70px;
  font-size: 1.4rem;
}
.news__list li {
  line-height: 1.5;
}
@keyframes newsanime {
  0% {
    opacity: 0;
    background-image: url("../starbuximg/summer2_reserve_bean.png");
  }
  100% {
    opacity: 1;
    background-image: url("../starbuximg/summer2_reserve_bean.png");
  }
}
