.nav__subMenu {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", "Jeju Gothic", sans-serif;
  font-weight: 300;
  color: #181818;
  background-color: #f6f5ef;
  margin-top: 132px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  z-index: 1;
  background-color: #f6f5ef;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.header .inner {
}

.header__logo {
  float: left;

  margin: 30px 0 0 0;
  width: 90px;
  height: 90px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.section .inner {
}
.flex-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  order: 2;
}
.nav__menu {
  margin-top: 20px;
  margin-right: 50px;
}

.nav__menu li {
  display: inline-block;
}

.nav__menuItem > a {
  display: block;
  padding: 20px 30px 40px 30px;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
}

.nav__menuItem > a:hover {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}

.unList__userLink {
  font-size: 0;
}
.unList__userLink li {
  display: inline-block;
  border-right: 1px solid #ccc;
}
.unList__userLink li:last-child {
  border-right: none;
}

.unList__userLink a {
  font-size: 1.2rem;
  padding: 10px 15px;
}
.unList__userLink a:hover {
  text-decoration: underline;
}

.form {
  margin: 10px 40px 0 5px;
  position: relative;
}

.form input {
  display: none;
  position: absolute;
  top: 1px;
  left: 0;
  width: 32px;
  height: 34px;
  padding: 5px 10px 5px 5px;
  border: 0;
  border-radius: 5px;
}

/*추후 js로 버튼 컨트롤 추가 예정*/
.form [type="search"].isSearch {
  display: block;
  z-index: 1;
  width: calc(100% - 32px);
}

/* IR기법 해결 - padding trick */
.form__btnSearch {
  padding: 0;
  border: 0;
  width: 32px;
  height: 34px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding-top: 34px;
  background: #fff url("../starbuximg/icon_magnifier_black.png") no-repeat
    center;
}

.form__btnSearch:focus,
.form__btnSearch:hover {
  background-position: right;
  animation: anime 500ms both;
}

@keyframes anime {
  0% {
    width: 32px;
  }
  100% {
    width: 180px;
  }
}

.slogan {
  /* background-color: #70c4d9; */
  min-height: 650px;
  background-color: #70c4d9;
  background-image: url(//image.istarbucks.co.kr/upload/common/img/main/2020/summer2_mv_bg.png);
  background-position: end;
  background-repeat: repeat;
  background-size: 100% 100%;
}
.slogan .inner {
  margin: 0 auto;
  position: relative;
  /* width: 1100px; */
}
.slogan__img {
  /* background-color: blue; */
  padding-top: 70px;
  padding-left: 10.909090909090909%;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 1.5s both;
}
.slogan__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 370px;
  left: 120px;
  font-size: 1.5rem;
  font-weight: 400;
  border: 2px #fff solid;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px;
  transition: 500ms;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 2s both;
}

.slogan__link:hover {
  background-color: #00a252;
  text-decoration: underline;
}
.slogan__figure1 {
  position: absolute;
  top: 240px;
  left: 35%;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 0.5s both;
}
.slogan__figure2 {
  position: absolute;
  top: 80px;
  left: 55%;
  opacity: 0;
  animation: sloganAni 1s ease-in-out both;
}
.slogan__figure3 {
  position: absolute;
  top: 200px;
  left: 65%;
  opacity: 0;
  animation: sloganAni 1s ease-in-out 1s both;
}
.slogan__figure1 img {
  /* width: 290px; */
  width: 100%;
  max-width: 290px;
}
.slogan__figure2 img {
  /* width: 180px; */
  width: 100%;
  max-width: 180px;
}
.slogan__figure3 img {
  /* width: 320px; */
  width: 100%;
  max-width: 320px;
}
.slogan figcaption {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
}
.slogan__figcaption1 {
  position: absolute;
  top: 220px;
  left: -170px;
}
.slogan__figcaption2 {
  position: absolute;
  top: 20px;
  left: -230px;
}
.slogan__figcaption3 {
  position: absolute;
  top: 360px;
  left: 80px;
}
.slogan figcaption span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
}
figcaption span:nth-child(1)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  margin: 5px 0;
}
.slogan__figcaption2 span:nth-child(1)::after {
  border: none;
}

figcaption div {
  text-align: center;
  text-transform: uppercase;
}

figcaption div::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  margin: 0;
  margin: 10px 0;
}

@keyframes sloganAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

figcaption div {
  text-align: center;
  text-transform: uppercase;
}
figcaption div::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  margin: 0;
  margin: 10px 0;
}
@keyframes sloganAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* notice */

.notice {
  text-align: center;
  background-color: #111;
  color: #fff;
  padding: 15px 0;
}

.notice__heading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 100px;
}
.notice__list {
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
  height: 20px;
  padding: 5px 0 10px;
  overflow: hidden;
  margin-right: 40px;
}
.notice__list li {
  animation: listanime 5s linear infinite alternate;
  margin-bottom: 10px;
}

.notice__list a {
  display: block;
  padding: 5px 400px 0 0;
}
.notice__list a:hover {
  text-decoration: underline;
}

.notice__link {
  vertical-align: middle;
  font-size: 3rem;
  font-weight: 400;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 0.8;
}
@keyframes listanime {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-510%);
  }
}
